
html, body
{
	background-color: #6868a8;
	font-family:"Century Gothic", "Arial", "Trebuchet MS", Verdana, sans-serif;
	margin: 0;
}

img
{
	border: none;
}

#preload
{
	font-size: 1.5em; 
	color: #DBE0EE;
		
	/* Centrage horizontal et vertical */
	position:absolute;
	text-align: center;
	left: 50%; 
	top: 50%;
	width: 700px;
  	height: 400px;
	margin-top: -200px; /* moitié de la hauteur */
	margin-left: -350px;
	background: url(spin-valhalla.gif) no-repeat center 3em;
}

#preload_container
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	layer-background-color: #6868a8;
	background-color: #6868a8;
}

#head
{
	
	height: 50px;
	width: 100%;
	margin: auto;
	font-size: 2em;
	text-align: center;
	color: #DBE0EE;
	font-weight: bold;
	font-variant: small-caps;
	background-color: #545488;
	padding-top: 20px;
	
}

#shoutbox
{
	background-color: #6868a8;
	margin: auto;
	/*width:60%;*/
	
	/* Overflow : le texte défile dans le div qui ne dépassera jamais sa hauteur fixée ici */
	height: 600px;
	overflow: hidden;
	color: #DBE0EE;
}

a, a:hover, a:visited
{
	color: #ff787a;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
}

#inputbox
{
	/*width:60%;*/
	margin: auto;
	text-align: center;
	
	font-size: 0.9em;
	background: #545488 url(cback.gif) repeat;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
		
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	
}

input[type=submit]
{
	background-color: #545488;
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}

input[type=submit]:hover
{
	background-color: #6868a8;
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}

input[type=text]
{
	background-color: #6868a8;
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}

textarea
{
	background-color: #6868a8;
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}

#annonces
{

	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 35%;
	padding: 5px;
	color: #f9121d;
	font-size: 1.2em;
	font-weight: bold;
	font-variant: normal;
}

.command
{
	font-size: 0.9em;
	background: #545488 url(cback.gif) repeat;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
		
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

.command_tab
{
	font-size: 0.9em;
	background: #545488 url(cback.gif) repeat;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #DBE0EE;
		
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

.big
{
	font-size: 1.2em;
	font-weight: bold;
	font-variant: small-caps;
}

.small
{
	font-size: 0.8em;
}

.center
{
	text-align: center;
}

#commlist
{
	color: #DBE0EE;
	text-align: left;
}

.comm
{
	font-weight: bold;
	font-variant: small-caps;
}

#message
{
	width: 100%;
	background-color: #6868a8;
	color: #DBE0EE;
	font-size: 1.6em;
	border: none;	
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	margin-bottom: 1em;
}

.msg
{
	margin-top: 1px;
	margin-bottom: 1px;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
}

.roomname
{
	color: #85d5fd;
}

.pm_old
{
	color: #DBE0EE;
}

.pm_new
{
	color: #80d4fd;
}

.blink
{
	text-decoration: blink;
}

.confirmation
{
	background-color: #545488;
	color: #f70916;
	font-weight: bold;
	font-size: 1.3em;
}

.msg_date
{
	color: #DBE0EE;
	font-size: 0.8em;
	margin-right: 3px;
}

.msg_user
{
	color: #fff;
	font-weight: bold;
	margin-right: 3px;
}

.msg_text
{
	color: #DBE0EE;
}

.msg_inner
{
	background-color: #545488;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
}

#search_results
{
	overflow: auto;
}

#note_form
{
	color:#DBE0EE;
	background-color: #545488;
	margin-top:5px;
	padding: 5px;
	text-align: center;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#note_form input[type=text]
{
	color:#DBE0EE;
	background-color: #545488;
	border: 1px solid #d8d49b;
}

.note
{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	color: #DBE0EE;
	background-color: #6868a8;
}

.shared_note
{
	border: 2px solid #f70916;
}

.foreign_note
{
	background-color: #85d5fd;
}

.note_meta
{
	background-color: #545488;
	color: #DBE0EE;
	padding:3px;
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	text-align: center;
}

.note_data
{
	
}

#loginbox
{
	margin: auto;
	width: 60%;
	color: #fff;
	text-align: center;
}

#loginbox input[type=text]
{
	background-color: #6868a8;
	color: #DBE0EE;
	font-size: 1.3em;
	border: 1px solid #DBE0EE;
}

.archives
{
	background-color: #545488;
	margin: auto;
	color: #DBE0EE;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	padding: 5px;
}

#archives_back
{
	display: block;
	width: 60%;
	margin: auto;
	font-size: 2em;
	background-color: #545488;
	text-align: center;
}

#archives_back a, #archives_back a:hover, #archives_back a:active, #archives_back a:visited
{
	color: #DBE0EE;
}

#archives_output
{
	background-color: #6868a8;
	width:60%;	
	margin: auto;
	color: #DBE0EE;
}

#archives input[type=text]
{
	background-color: #545488;
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}


#sidebar
{
	position: absolute;
	top:  70px;
	left: 10px;
	
	margin-top: 10px;
	width: 145px;

	padding: 2px;
	font-size: 0.9em;
}

#rightbar
{
	position: absolute;
	top:  70px;
	right: 10px;
	
	margin-top: 10px;
	width: 145px;

	padding: 2px;
	font-size: 0.9em;
}

.sondage
{
	background-color: #545488;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	margin-bottom: 10px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

.sondage_votes
{
	font-size: 0.9em;
}

.sondage_users
{
	font-size: 0.8em;
	color: #DBE0EE;
	font-style: italic;
	
}

#container_users
{
	background-color: #545488;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#container_today
{
	background-color: #545488;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#container_timers
{
	
}

.user
{
	color: #DBE0EE;
}

.user_m
{
	color: #fff;
}

.user:hover, .user_m:hover
{
	cursor: pointer;
	color: #80d4fd;
}

.user-online
{
	color: #7eff7b;
	font-weight: bold;
}

.user-background
{
	color: #fcd47c;
	font-weight: bold;
}

.user-afk
{
	color: #fa797a;
	font-weight: bold;
}

.timer
{
	background-color: #545488;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

.tname
{
	color: #fff;
	font-variant: small-caps;
}

.tlabel
{
	font-style: italic;
	font-size: 0.8em;
	color: #DBE0EE;
}

.ttime
{
	
}

.help
{
	background-color: #545488;
	margin: auto;
	margin-bottom: 10px;
	color: #DBE0EE;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	padding: 5px;
}

.prefs
{
	background-color: #545488;
	margin: auto;
	margin-bottom: 10px;
	color: #DBE0EE;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	padding: 5px;
}

.prefs input[type=text]
{
		color:#DBE0EE;
	background-color: #545488;
	border: 1px solid #d8d49b;
}

/** Spécifiques à certaines commandes */

.bank_table
{
	position: relative;
	float:right;
	margin: auto;
}

.bank_archives
{
	position: relative;
	float:left;
	width:20%;
	height: 220px;
	overflow: auto;
		margin-top: 2px;
}

.bank_archives ul
{
	list-style-type: none;
	margin-left: 0;
	padding-left: 1em;
}

.bank
{
	padding: 0;
	margin: 0;
		width: 78%;
	padding-left: 1%;
}

.bank_cat
{
	margin: 0;
}

.bank_cat_header
{
	font-weight: bold;
	background-color: #3b3249;
	padding-top: 3px;
	padding-bottom: 3px;
		
	-moz-border-radius:5px;
	-webkit-border-radius:6px;
	text-align: center;
}

.bank_cat_content
{
	padding-top: 3px;
	padding-bottom: 3px;
}

.bank_cat_total
{
	text-align: center;
}

.chantiers_ul
{
	list-style-type: none;
	padding-top: 2px;
}

.chantiers_li
{
	list-style-type: none;
	border-left: 1px dotted #DBE0EE;
	padding-left: 5px;
	margin-left: -32px;
}

/* Couleurs */

.d1
{
	color: #00be6d;
}

.d2
{
	color: #fe9124;
}

.d3
{
	color: #ff5255;
}

/** Tabs */

#tabs_container
{
	background-color: #6868a8;
	width:60%;
	margin: auto;
}

.intab
{
	background-color: #6868a8;
	width:60%;
	margin: auto;
}

ul.tabs {
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	clear:both;
	border-bottom:1px solid #DBE0EE;
	height:20px;
	clear:both;
	font-size: 0.9em;
}

ul.tabs li.tab {
	float:left;
	margin-right:4px;
	text-align:center;
}

ul.tabs li.tab a {
	display:block;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#6868a8;
	color:#DBE0EE;
	text-decoration: none;
}

ul.tabs li.tab a:hover {
	color:#DBE0EE;
	background-color: #545488;
	text-decoration: none;
}

ul.tabs li.tab a.active {
	background-color:#545488;
	text-decoration: none;
	color: #fff;
}

.tabmaj
{
	color:#DBE0EE;
	background-color: #545488;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
}

#new_mp
{
	text-decoration: blink;
	background-color: #545488;
	color: #fff;
	font-weight: bold;
	text-align: center;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

/** Calendrier */
.calendrier
{
	width: 100%;
}

.cemois
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color:#DBE0EE;
}

#jours 
{
	background-color: #6868a8;
}

#jours td 
{
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color:#DBE0EE;
}

.ligne 
{
}

.ligne td
{
	color:#DBE0EE;
	border: 1px solid #d8d49b;
	height: 7em;
}

.ligne td a:hover
{
	list-style: none;
	text-decoration: none;
}

.ligne_small td a:hover
{
	list-style: none;
	text-decoration: none;
}

td.itemCurrentItem 
{
	color:#DBE0EE;
	background-color: #6868a8;
}

td.itemSelectedItem 
{
	color: #f96668;
}

.jour
{
	float: left;
	clear: both;
	
	height: 100%;
	width: 2em;
	
	background-color: #545488;
	
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

.contenu
{
	height:  100%;
	font-size: 0.8em;
}

.calsep
{
	background-color: #545488;
	padding: 5px;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	text-align: center;
	margin-bottom: 5px;
}

.calendrier_disponible
{
	color: #7eff7b;
}

.calendrier_chantiers
{
	color: #fcd47c;
}

.calendrier_indisponible
{
	color: #fa797a;
}

.calendrier_system
{
	color: #80d4fd;
	background-color: #1c518f;
}

/** Frise */
.frise
{
	width: 100%;
}

.frise_header
{
	color:#DBE0EE;
	background-color: #545488;
	text-align: center;
}

.frise_header_alt
{
	color:#545488;
	background-color: #DBE0EE;
	text-align: center;
}

.frise_ligne
{

}

.frise_disponible
{
	background-color: #7eff7b;
	color: #5c2b20;
	font-size: 0.8em;
	text-align: center;
}

.frise_chantiers
{
	background-color: #fcd47c;
	color: #5c2b20;
	font-size: 0.8em;
	text-align: center;
}

.frise_indisponible
{
	background-color: #fa797a;
	color: #5c2b20;
	font-size: 0.8em;
	text-align: center;
}

.frise_start
{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
}

.frise_stop
{
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}

/** Formulaire events */
#eventform
{
	color:#DBE0EE;
	background-color: #545488;
	padding: 5px;
	text-align: center;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#eventform input[type=text]
{
	color:#DBE0EE;
	background-color: #545488;
	border: 1px solid #d8d49b;
}

#formresponse
{
	color:#DBE0EE;
	text-align: center;
}



/** Vilains */
#pariastbl
{
	width: 100%;
	font-size: 0.9em;
	color:#DBE0EE;
}

.pariastbl_header
{
	background-color: #545488;
	font-variant: small-caps;
}

#parias_form_response
{
	color:#DBE0EE;
	padding: 5px;
	text-align: center;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#parias_form
{
	color:#DBE0EE;
	background-color: #545488;
	padding: 5px;
	text-align: center;
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
}

#parias_form input[type=text]
{
	color:#DBE0EE;
	background-color: #545488;
	border: 1px solid #d8d49b;
}

.prio1 { color: #81fed4; }
.prio2 { color: #fdff7d; }
.prio3 { color: #fcd47c; }
.prio4 { color: #fa9122; }
.prio5 { color: #fa797a; }

/** Boutons spéciaux */
#cmd_bq { padding-left: 18px; background: url(../smilies/h_bag.gif) no-repeat; }
#cmd_df { padding-left: 18px; background: url(../smilies/h_door.gif) no-repeat; }
#cmd_at { padding-left: 18px; background: url(../smilies/h_zombie.gif) no-repeat; }
#cmd_ea { padding-left: 18px; background: url(../smilies/h_water.gif) no-repeat; }
#cmd_cv { padding-left: 18px; background: url(../smilies/r_explor.gif) no-repeat; }
#cmd_ch { padding-left: 18px; background: url(../smilies/h_refine.gif) no-repeat; }
#cmd_xp { padding-left: 18px; background: url(../smilies/r_dcity.gif) no-repeat; }

#f_bold { font-weight: bold; }
#f_italic { font-style: italic; }
#f_underline { text-decoration: underline; }
#f_strike{ text-decoration: line-through; }

/** Context menu */
#control_contextmenu {  
    border:1px solid #DBE0EE;  
    background-color:#6868a8;  
    color: d8d49b;
    min-width:150px; 
} 
  
#control_contextmenu ul {  
    list-style:none;  
    padding:0;  
    margin:0;  
    cursor:pointer;  
} 
 
#control_contextmenu ul li {  
    text-align:left;  
    padding:3px 10px 3px 5px;  
    margin:0;  
    cursor:pointer;  
    text-decoration:none;  
    color:#DBE0EE;  
    font-size:0.9em;  
    border-top:1px solid #DBE0EE;  
    border-left:1px solid #DBE0EE;  
    border-bottom:1px solid #DBE0EE;  
    border-right:1px solid #DBE0EE;  
} 
 
#control_contextmenu ul li.selected, 
#control_contextmenu ul li:hover {  
    color:#6868a8;  
    background-color:#DBE0EE;  
    cursor:pointer;  
} 
 
#control_contextmenu ul li.selected:hover {  
    background-color:#6868a8;  
    color: #DBE0EE;
    cursor:pointer;  
} 
 
#control_contextmenu ul li.disabled, 
#control_contextmenu ul li:hover.disabled {  
    background-color: #eee;  
    color:#999;  
    cursor:pointer;  
} 

/** Citoyens Coa */

#tab_citoyens .citoyens
{
	width: 100%;
	margin: auto;
	color: #DBE0EE;
}

#tab_citoyens .leader
{
	color: #7c77fc;
}

#tab_citoyens .membre
{
	
}

#tab_citoyens .tbheader
{
	background-color: #6868a8;
	font-variant: small-caps;
	font-weight: bold;
}

#tab_citoyens .avatar
{
	width: 15%;
	text-align: center;
}

#tab_citoyens .nom
{
	width: 15%;
	font-weight: bold;
}

#tab_citoyens .jdate
{
	width: 15%;
	text-align: center;
}

#tab_citoyens .ville
{
	width: 25%;
}

#tab_citoyens .hero
{
	width: 10%;
	text-align: center;
}

#tab_citoyens .position
{
	width: 10%;
	text-align: center;
}

/** Map */
#map
{
	color: #DBE0EE;
	border: 1px solid #DBE0EE;
}

.zone
{
	border: 1px solid #DBE0EE;
	text-align: center;
}

.nvt
{
	background-color: #79d3fd;
}

.unknown
{
    color:#6868a8;  
    background-color:#DBE0EE; 
}

.villemap
{
	background-color: #fcff31;
	color: #2c00fb;
	font-weight: bold;
}

.bat
{
	background-color: #009190;
	color: #eaeaea;
}

.epuisee
{
	text-decoration: line-through;
}

.mhelp
{
	background-color: #f9121d;
}

.zomb
{
	
}

/* Fading Tooltips By Dustin Diaz*/
body div#toolTip 
{ 
	position:absolute;
	z-index:1000;
	width:220px;
	text-align:left;
	padding:5px;
	min-height:1em;
	-moz-border-radius:5px; 
	
	color: #DBE0EE;
	background-color:#545488;  
	
}

body div#toolTip p 
{ 
	margin:0;
	padding:0;
}

body div#toolTip p em 
{ 
	display:block;
	margin-top:3px;
	color:#f60;
	font-style:normal;
	font-weight:bold; 
}

body div#toolTip p em span 
{ 
	font-weight:bold;
	color:#fff; 
}

abbr
{
	cursor: help;
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

/* Twitter */
#twitterbar
{
	background-color: #545488;
	color: #fff;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-moz-border-radius:10px;
	-webkit-border-radius:11px;
	
		margin-top: 10px;
	margin-bottom: 10px;
}

#twitterbar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#twitterbar li
{
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

.tweet_meta
{
	font-size: 0.85em;
	font-style: italic;
}

.tweet_title
{
	
}